<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <ng-template [ngIf]="admin">
          <li class="nav-item">
            <a class="nav-link" routerLink="/administration">Administration<span class="sr-only">(current)</span></a>
          </li>
        </ng-template>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <ng-template [ngIf]="!loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
          </li>
        </ng-template>
        <ng-template [ngIf]="loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">{{this.username}}<span class="sr-only">(current)</span></a>
          </li>
          <button (click)="logout()" class="btn btn-outline-secondary">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
          </button>
        </ng-template>
      </ul>
    </div>
  </nav>