<form [formGroup]="userForm">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput type="text" formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput type="text" formControlName="lastName">
      </mat-form-field>
    </div>
  </div>

  <div class=row>
    <div class="col">
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName="login" required>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <mat-slide-toggle formControlName="withPassword">With Password</mat-slide-toggle>
  </div>
  <div *ngIf="userForm.value.withPassword">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required>
        </mat-form-field>
      </div>
    </div>
    <div class="row" *ngIf="userForm.errors && userForm.errors.password">
      <p *ngIf="userForm.errors.password.passwordIsEmpty">Password must be set.</p>
      <p *ngIf="userForm.errors.password.confirmPasswordIsEmpty">Confirm password must be set.</p>
      <p *ngIf="userForm.errors.password.passwordDontMatch">Password don't match.</p>
    </div>
  </div>

  <div class="row">
    <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>
  </div>

  <div class="row">
    <mat-slide-toggle ([ngModel])="createNow" (change)="createNow = !createNow">Create Now</mat-slide-toggle>
  </div>

  <div class="row" *ngIf="!createNow">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col">
      <input placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTime" [format]="24"  readonly>
      <ngx-material-timepicker #fullTime></ngx-material-timepicker>
    </div>
  </div>

  <div class="row">
    <app-dual-listbox 
      [itemDataSource]="roleDataSource"
      [selected]="user.roles"
      [presenter]="rolePresenter"
      [comparator]="roleComparator"
      (selectionChanged)="roleSelectionChanged($event)"></app-dual-listbox>
  </div>
</form>