<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

  <ng-container matColumnDef="{{column.name}}" *ngFor="let column of columns">
    <th mat-header-cell *matHeaderCellDef>{{column.description}}</th>
    <td mat-cell *matCellDef="let user">{{column.get(user)}}</td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let user" [attr.colspan]="columnsToDisplay.length">
      <div class="user-detail" [@detailExpand]="user == expandedUser ? 'expanded' : 'collapsed'">
        <app-user-edit [user]="user"></app-user-edit>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let user; columns: columnsToDisplay"
    class="user-row"
    [class.user-expanded-row]="expandedElement === element"
    (click)="expandedUser = expandedUser === user ? null : user"></tr>
  <tr mat-row *matRowDef="let user; columns: ['expandedDetail']" class="user-detail-row"></tr>
</table>